@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');



*{
    font-family: 'Overpass', sans-serif;}

body {
   
    background-color: hsl(216, 12%, 8%);
}


h1{
    color:hsl(0, 0%, 100%);
}


.wrapper{
    background-color: hsl(213, 19%, 15%);
    color: hsl(217, 12%, 63%);
    margin: 30px; 
}

.bg-dark-grey{
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%)}

.submit{
    background-color:hsl(25, 97%, 53%);
    padding: 10px 120px;
    color: white;
    text-align: center;
    font-weight: 700;
}

.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%)
}

.escolhido{
    color: white;
    background-color: hsl(217, 12%, 63%);
}

button{
    border: none
}

button:hover{
    color: hsl(0, 0%, 100%);
    transition: background-color 0.5 linear;
    background-color:hsl(25, 97%, 53%);
}


#nota{
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    padding: 5px 16px;
}

.escondido{
    display: none;
}

@media (min-width: 500px) {
    .wrapper{
        width: 400px;
        margin: 8% 33%;
}}